<a href="https://colab.research.google.com/github/poojitha-unnam/B5_PFDS_1304/blob/main/Lab_04_1304.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#QUESTION-01

In [5]:
import pandas as pd
data = {
    'Invoice_No': [2001, 2002, 2003, 2004, 2005, 2006],
    'Customer_Name': ['Anil', 'Sunil', 'Kiran', 'Meena', 'Sita', 'Arjun'],
    'Product': ['Laptop', None, 'Tablet', 'Laptop', 'Phone', 'Tablet'],
    'Quantity': [2, 5, None, 1, 3, 10],
    'Price': [50000, 20000, 15000, None, 12000, 18000],
    'Total': [100000, None, None, None, 36000, 180000]
}

df = pd.DataFrame(data)
df.to_csv('sales_data.csv', index=False)

print("sample sales_data.csv file has been created.")

sample sales_data.csv file has been created.

In [12]:
df = pd.read_csv('sales_data.csv')
df_clean = df.dropna(subset=['Product', 'Quantity']).copy()
mean_price = df_clean['Price'].mean()
df_clean.loc[:, 'Price'] = df_clean['Price'].fillna(mean_price)
df_clean.loc[:, 'Total'] = df_clean.apply(
    lambda row: row['Quantity'] * row['Price'] if pd.isnull(row['Total']) else row['Total'],
    axis=1
 )
print("Cleaned sales data with missing Price filled and Total calculated:")
print(df_clean)

Cleaned sales data with missing Price filled and Total calculated:
   Invoice_No Customer_Name Product  Quantity         Price          Total
0        2001          Anil  Laptop       2.0  50000.000000  100000.000000
3        2004         Meena  Laptop       1.0  26666.666667   26666.666667
4        2005          Sita   Phone       3.0  12000.000000   36000.000000
5        2006         Arjun  Tablet      10.0  18000.000000  180000.000000

In [13]:
large_transactions = df_clean[df_clean['Total'] > 1000]
print("\nRecords with Total > 1000:")
print(large_transactions)

Records with Total > 1000:
   Invoice_No Customer_Name Product  Quantity         Price          Total
0        2001          Anil  Laptop       2.0  50000.000000  100000.000000
3        2004         Meena  Laptop       1.0  26666.666667   26666.666667
4        2005          Sita   Phone       3.0  12000.000000   36000.000000
5        2006         Arjun  Tablet      10.0  18000.000000  180000.000000

#QUESTION-02

In [14]:
import pandas as pd
data = {
    "Applicant_ID": [201, 202, 203, 204, 205, 206],
    "Name": ["Rohit", "Anusha", "Karthik", "Divya", "Manoj", "Sneha"],
    "Degree": ["MBA", "B.Tech", "M.Sc", "MCA", "BBA", "M.Tech"],
    "Experience_Years": [2, None, 6, 3, 1, None],
    "Python_Score": [78, 91, None, 84, 76, 89],
    "Status": ["Pending", "Pending", "Pending", "Pending", "Pending", "Pending"]
}

df = pd.DataFrame(data)
df.to_csv("applicants.csv", index=False)
print(df)

   Applicant_ID     Name  Degree  Experience_Years  Python_Score   Status
0           201    Rohit     MBA               2.0          78.0  Pending
1           202   Anusha  B.Tech               NaN          91.0  Pending
2           203  Karthik    M.Sc               6.0           NaN  Pending
3           204    Divya     MCA               3.0          84.0  Pending
4           205    Manoj     BBA               1.0          76.0  Pending
5           206    Sneha  M.Tech               NaN          89.0  Pending

In [15]:
df = pd.read_csv("applicants.csv")
df = df.dropna(subset=["Python_Score"])
df["Experience_Years"] = df["Experience_Years"].fillna(0)
filtered_df = df[(df["Python_Score"] > 80) & (df["Experience_Years"] > 2)]
filtered_df.to_csv("filtered_applicants.csv", index=False)
print("Filtered Applicants:")
print(filtered_df)

Filtered Applicants:
   Applicant_ID   Name Degree  Experience_Years  Python_Score   Status
3           204  Divya    MCA               3.0          84.0  Pending